.jobs {
    display: flex;
    flex-direction: column; /* Cambiamos a disposición vertical */
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaciado entre las tarjetas */
    padding: 20px;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}