.subheader {
    position: sticky;
    top: 84px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    border-left: 1px solid #219ebc; /* Borde izquierdo */
    border-right: 1px solid #219ebc; /* Borde derecho */
    border-bottom: 1px solid #219ebc; /* Sin borde inferior */
    border-radius: 0 0 10px 10px;
}

.subheader .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.subheader select,
.subheader input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}

.subheader select:focus,
.subheader input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.subheader button {
    background-color: #ffcc00;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.subheader button:hover {
    background-color: #dc3545;
}

@media (max-width: 768px) {
    .subheader .row {
        flex-direction: column;
    }

    .subheader .col-md-2 {
        width: 100%;
        margin-bottom: 10px;
    }

    .subheader button {
        width: 100%;
    }
}