.dashboard-container {
    display: flex;
    align-items: stretch;
}

app-dashboard-sidebar-prisma {
    width: 300px;
    min-height: 100vh; /* Se asegura de ocupar al menos la altura de la ventana */
    display: flex; /* Flex para que nav crezca a su altura completa */
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 20px;
}