<div class="footer">
    <div class="contain">
        <div class="col">
            <h1>Sobre Nosotros</h1>
            <ul>
                <li>Historia</li>
                <li>Equipo</li>
                <li>Misión y Visión</li>
            </ul>
        </div>
        <div class="col">
            <h1>Navegación</h1>
            <ul>
                <li>Inicio</li>
                <li>Servicios</li>
                <li>Blog</li>
                <li>Contacto</li>
            </ul>
        </div>
        <div class="col">
            <h1>Soporte</h1>
            <ul>
                <li>FAQs</li>
                <li>Documentación</li>
                <li>Atención al Cliente</li>
            </ul>
        </div>
        <div class="col social">
            <h1>Síguenos</h1>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="legal">
        <p>© 2024 ProHireX. Todos los derechos reservados.</p>
        <p><a href="#">Política de Privacidad</a> | <a href="#">Términos y Condiciones</a></p>
    </div>
</div>